<footer class="bg-primary">
  <div class="container d-flex align-items-center justify-content-between justify-content-lg-start py-7">
    <a href="./index.html" class="logo logo-secondary mr-7">logo</a>
    <p class="text-white text-xs">© 2020. All Rights Reserved.</p>
    <ul class="nav ml-auto d-none d-lg-flex ">
      <li class="nav-item mr-5">
        <a class="nav-link text-white px-0 text-m" href="./product.html">Product</a>
      </li>
      <li class="nav-item mr-5">
        <a class="nav-link text-white px-0 text-m" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white px-0 text-m" href="#">Contact</a>
      </li>
    </ul>
  </div>
</footer>
