<nav class="navbar navbar-expand-lg bg-white shadow-sm navbar-light px-lg-0">
  <div class="container">
    <h1 class="logo">
      <a class="navbar-brand" href="#">我是logo</a>
    </h1>
    

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav d-block d-lg-none">
        <li>
          <a class="btn btn-secondary w-100 py-4    rounded-0 border-bottom" href="./product.html">Product</a>
        </li>
        <li>
          <a class="btn btn-secondary w-100 py-4    rounded-0 border-bottom" href="#">Wishlist</a>
        </li>
        <li>
          <a class="btn btn-secondary w-100 py-4  rounded-0 border-bottom" href="#">Blog</a>
        </li>
        <li>
          <a class="btn btn-secondary w-100 py-4  rounded-0 border-bottom" href="#">Contact</a>
        </li>
        <li>
          <a class="btn btn-secondary w-100 py-4  rounded-0" href="./login.html">log in</a>
        </li>
      </ul>
    </div>

    <ul class=" navbar-nav d-none d-lg-flex h5 ml-auto">
      <li class="nav-item mr-6 ">
        <a class="nav-link px-0 " href="./product.html"><span class="material-icons mr-1 ">store</span>Product</a>
      </li>
      <li class="nav-item mr-6">
        <a class="nav-link px-0" href="./login.html"><span class="material-icons mr-1 ">person</span>log in</a>
      </li>
      <li class="nav-item mr-6">
        <a class="nav-link px-0" href="#"><span class="material-icons mr-1 ">favorite</span>Wishlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-0" href="#"><span class="material-icons mr-1 ">shopping_cart</span>Cart(3)</a>
      </li>
    </ul>
  </div>
</nav>
