<section class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2 class="font-weight-bolder text-secondary mb-7 ">記得<br />訂閱以獲取更多資訊！</h2>
        <div class="input-group">
          <input
            type="text"
            class="form-control border-primary py-7 h-auto border-2"
            placeholder="Your email address"
          />
          <div class="input-group-append">
            <button class="btn btn-primary px-4" type="button" id="button-addon2">
              Subscribe
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>