// 標頭
.logo a {
  background: url("../images/d’Perfume@2x.png");
  background-size: cover;
  display: block;
  width: 128px;
  height: 38px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
